* {
  margin: 0;
  font-family: arial;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

/* TOP OF ALL PAGE */

.top {
    background-color: #2196f3;
    height: 100px;
}

.startnav {
  margin-top: 1%;
  display: inline-block;
  width: 47%;
}

.buttonnav {
  display: inline-block;
  width: 47%;
  vertical-align: middle;
  text-align: middle;
}

li {
  display: inline;
  list-style-type: none;
  margin-left: 50px;
  font-size: 30px;
}

#accueil a {
  text-decoration: none;
  color: black;
}

#accueil a:hover {
  text-decoration: underline; color: black;
}

#produit a {
  text-decoration: none;
  color: black;
}

#produit a:hover {
  text-decoration: underline; color: black;
}

#contact a {
  text-decoration: none;
  color: black;
}

#contact a:hover {
  text-decoration: underline; color: black;
}

.buttonconnexion {
  background-color: #ff9800;
  border: none;
  border-radius: 5px;
  padding: 13px;
  margin-left: 5%;
  margin-top: 2%;
  min-width: 19%;
}

.buttonconnexion:hover {
  box-shadow: 3px 3px 1px 1px;
}

.champ {
  border-radius: 5px;
  border: none;
  padding: 9px;
  width: 60%;
  margin-left: 8%;
}

.champ:hover {
  box-shadow: 3px 3px 1px 1px;
}

/* MIDDLE PAGE HOME */

#topreturn {
  position: fixed;
}

#topreturn:hover {
  background-image: url(images/uphover.png);
}

.articles {
  margin: auto;
  padding-bottom: 7%;
  width: 99.75%;
}

#bestarticles p{
  text-align: center;
  background-color: #9e9e9e;
  margin: auto;
  margin-top: 4%;
  font-size: 40px;
  padding: 40px;
  width: 60%;
}

.article1, .article2, .article3{
  width: 200px;
  height: 250px;
  margin-top: 3%;
  background-color: white;
  margin-left: 5%;
  text-align: center;
  display: inline-block;
}

.articlesall {
  text-align: center;
}

.articles1button, .articles2button, .articles3button{
    background-color: #f44336;
    border: none;
    padding: 13px;
    margin-left: 5%;
    margin-top: 20%;
    min-width: 19%;
}

/* FOOTER ALL PAGE */
.bottom {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #bdbdbd;
  padding-bottom: 30px;
  padding-top: 30px;
}

#copyright p{
  width: 78%;
  display: inline-block;
  padding-left: 15px;
}

#follow p{
  width: 10%;
  display: inline;
}

#twitter img{
  vertical-align: bottom;
  padding-left: 4px;
  padding-right: 4px;
}

#linkedin img{
  vertical-align: bottom;
  padding-right: 4px;
}

#github img{
  vertical-align: bottom;
}


/* MIDDLE PAGE CONTACT */
.allcontact {
  width: 100%;
}

#contactus {
  text-align: center;
  font-size: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.persoinfo {
  background-color: white;
  width: 48%;
  display: inline-block;
  border: 1px solid black;
  margin-left: 1.50%;
  margin-bottom: 5%;
}

.formulaire {
  width: 48%;
  display: inline-block;
  text-align: center;
  margin-left: 2%;
  vertical-align: top;
}

.firstname {
  display: inline;
  width: 400px;
  margin-bottom: 5%;
  margin-top: 3%;
  border: 1px solid black;
  padding-top: 4px;
  padding-bottom: 4px;
}

.name {
  display: inline;
  width: 400px;
  border: 1px solid black;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 5%;
}

.phonenumber {
  display: inline;
  width: 400px;
  border: 1px solid black;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 5%;
}

.sujet {
  margin-bottom: 5%;
  border: 1px solid black;
}

.number {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 50px;
}

.fax {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 50px;
}

.mail {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 50px;
}

.Adresse {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 50px;
}

.buttonvalidate {
  display: block;
  background-color: #9e9e9e;
  border: none;
  border-radius: 5px;
  padding: 13px;
  min-width: 19%;
  margin: 0 auto;
}

.buttonvalidate:hover {
  box-shadow: 3px 3px 1px 1px;
}

.centermap {
  text-align: center;
  padding-bottom: 20px;
}

/* Middle page Contact */

.allshop {
  background-color: white;
  width: 60%;
  line-height: 35px;
  margin: auto;
  border: 1px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
}

.allshop li {
  font-size: 25px;
}

.allshop ul {
  text-align: center;
}

.paragraphe p {
  background-color: white;
  width: 20%;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
  font-size: 25px;
  padding: 25px;
}

.shop1 {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  padding-top: 30px;
}

.shop1 img {
  width: 150px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

#shopdesc1 {
  display: inline-block;
  font-size: 20px;
  width: 40%;
  background-color: none;
  vertical-align: top;
}

.buttonbuy1 {
  display: inline-block;
  background-color: #f44336;
  border: none;
  padding: 13px;
  margin-left: 5%;
  min-width: 19%;
  vertical-align: top;
  margin-top: 6%;
}

.buttonbuy1:hover {
  box-shadow: 3px 3px 1px 1px;
}

.allshop a {
  text-decoration: none;
  color: black;
}

.allshop a:hover {
  text-decoration: underline;
  color: black;
}

.shop2 img{
  width: 180px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.buttonbuy2 {
  display: inline-block;
  background-color: #f44336;
  border: none;
  padding: 13px;
  margin-left: 5%;
  min-width: 19%;
  vertical-align: top;
  margin-top: 6%;
}

.buttonbuy2:hover {
  box-shadow: 3px 3px 1px 1px;
}

.shop2 {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  padding-top: 30px;
}

.buttonbuy3 {
  display: inline-block;
  background-color: #f44336;
  border: none;
  padding: 13px;
  margin-left: 5%;
  min-width: 19%;
  vertical-align: top;
  margin-top: 6%;
}

.buttonbuy3:hover {
  box-shadow: 3px 3px 1px 1px;
}

.shop3 {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  padding-top: 30px;
}

.shop3 img{
  width: 180px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.shop4 img{
  width: 180px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.shop4 {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  padding-top: 30px;
}

.buttonbuy4 {
  display: inline-block;
  background-color: #f44336;
  border: none;
  padding: 13px;
  margin-left: 5%;
  min-width: 19%;
  vertical-align: top;
  margin-top: 6%;
}

.buttonbuy4:hover {
  box-shadow: 3px 3px 1px 1px;
}

.buttonbuy5 {
  display: inline-block;
  background-color: #f44336;
  border: none;
  padding: 13px;
  margin-left: 5%;
  min-width: 19%;
  vertical-align: top;
  margin-top: 6%;
}

.buttonbuy5:hover {
  box-shadow: 3px 3px 1px 1px;
}

.shop5 img{
  width: 180px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.shop5 {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  padding-top: 30px;
}

.buttonbuy6 {
  display: inline-block;
  background-color: #f44336;
  border: none;
  padding: 13px;
  margin-left: 5%;
  min-width: 19%;
  vertical-align: top;
  margin-top: 6%;
}

.buttonbuy6:hover {
  box-shadow: 3px 3px 1px 1px;
}

.shop6 img{
  width: 180px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.shop6 {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  padding-top: 30px;
}

.buttonbuy7 {
  display: inline-block;
  background-color: #f44336;
  border: none;
  padding: 13px;
  margin-left: 5%;
  min-width: 19%;
  vertical-align: top;
  margin-top: 6%;
}

.buttonbuy7:hover {
  box-shadow: 3px 3px 1px 1px;
}

.shop7 img{
  width: 180px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.shop7 {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  padding-top: 30px;
}

.buttonbuy8 {
  display: inline-block;
  background-color: #f44336;
  border: none;
  padding: 13px;
  margin-left: 5%;
  min-width: 19%;
  vertical-align: top;
  margin-top: 6%;
}

.buttonbuy8:hover {
  box-shadow: 3px 3px 1px 1px;
}

.shop8 img{
  width: 180px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.shop8 {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  padding-top: 30px;
}

.buttonbuy9 {
  display: inline-block;
  background-color: #f44336;
  border: none;
  padding: 13px;
  margin-left: 5%;
  min-width: 19%;
  vertical-align: top;
  margin-top: 6%;
}

.buttonbuy9:hover {
  box-shadow: 3px 3px 1px 1px;
}

.shop9 img{
  width: 150px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.shop9 {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  padding-top: 30px;
}
