* {
  margin: 0;
  font-family: arial;
}

body {
  background-color: #e0e0e0;
}

/* top of page */

.top {
  background-color: #2196f3;
  position: relative;
}

.buttonconnexion {
  background-color: #ff9800;
  border: none;
  border-radius: 5px;
  padding: 13px;
  margin-left: 5%;
  margin-top: 2%;
  width: 10%;
}

.buttonconnexion:hover {
  box-shadow: 3px 3px 1px 1px;
}

.champ {
  border-radius: 5px;
  border: none;
  padding: 9px;
  width: 20%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.champ:hover {
  box-shadow: 3px 3px 1px 1px;
}

input.champ:focus {
  box-shadow: 3px 3px 1px 1px;
}

#home {
  font-size: 1.5em;
  padding-left: 8%;
}

#home a {
  text-decoration: none;
  color: black;
}

#home a:hover {
  text-decoration: underline; color: black;
}

#home:hover {
  text-decoration: underline; color:black;
}

#shop {
  font-size: 1.5em;
  padding-left: 8%;
}

#shop a {
  text-decoration: none;
  color:black;
}

#shop a:hover {
  text-decoration: underline; color: black;
}

#contact {
  font-size: 1.5em;
  padding-left: 8%;
}

 #contact a {
   text-decoration: none;
   color: black;
 }

 #contact a:hover {
   text-decoration: underline; color: black;
 }

 /* middle of page */
.articles {
  position: relative;
}

#topreturn {
  position: fixed;
}

#topreturn:hover {
  background-image: url(images/uphover.png);
}

#bestarticles p {
  background-color: #9e9e9e;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-top: 8%;
  font-size: 25px;
}

#articles1 img{
  width: 10%;
  margin-left: 20%;
  margin-top: 4%;
  background-color: white;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 12%;
}

.articles1button {
  position: absolute;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  padding: 13px;
  width: 10;
  margin-left: -13%;
  margin-top: 20%;
}

.articles1button:hover {
  box-shadow: 2px 2px 2px 2px;
}

#articles2 img{
  width: 10%;
  margin-left: 5.75%;
  margin-top: 4%;
  background-color: white;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 12%;
}

.articles2button {
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  padding: 13px;
  width: 10%;
  position: absolute;
  margin-top: 20%;
  margin-left: -13%;
}

.articles2button:hover {
  box-shadow: 2px 2px 2px 2px;
}

#articles3 img{
  width: 10%;
  margin-left: 5.75%;
  margin-top: 4%;
  background-color: white;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 12%;
}

.articles3button {
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  padding: 13px;
  width: 10%;
  position: absolute;
  margin-top: 20%;
  margin-left: -13%;
}

.articles3button:hover {
  box-shadow: 2px 2px 2px 2px;
}

 /* bottom of page */
.bottom {
  position: absolute;
  background-color: #bdbdbd;
  margin: 0;
  padding-top: 4%;
  padding-bottom: 5%;
  width: 100%;
  margin-top: 5%;
}

#copyright p {
  position: absolute;
  padding-bottom: 3%;
  margin-left: 3%;
  margin-top: 1%;
}

#follow p {
  position: absolute;
  padding-left: 70%;
  margin-top: 1%;
}

#twitter img {
  position: absolute;
  width: 3%;
  margin-left: 80%;
}

#linkedin img {
  position: absolute;
  width: 3%;
  padding-left: 1%;
  margin-left: 84%;
}

#github img {
  position: absolute;
  width: 3%;
  padding-left: 1%;
  margin-left: 89%;
}
