* {
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #f5f5f5;
}

/* Top of the page */

.Top {
  display: inline-block;
  border-bottom: 1px black solid;
  height: 5%;
}

#logo {
  display: inline-block;
  width:10%;
  border-right: 1px black solid;
  padding-right: 3%;
  margin-left: 3%;
}


#logo img {
  width: 100%;
}

input.boutonc {
    position: absolute;
    display: inline-block;
    margin-top: 3%;
    margin-left: 8%;
    background-color: #4583ec ;
    border-radius: 0px;
    line-height: 25px;
    padding-left:20px;
    color: white;
    font-size: 15px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom: 10px;
}

#entname {
  position: absolute;
  display: inline-block;
  margin-left: 25%;
  padding-top: 4%;
  font-size: 25px;
  border-right: 1px black solid;
  border-left: 1px black solid;
  padding-right: 3%;
  padding-left: 3%;
  height:12.75%;
}

#searchwrite{
  position: absolute;
  display: inline-block;
  margin-left: 48%;
  border-right: 1px black solid;
  padding-right: 6%;
  padding-top:3%;
  height: 15%;
}

.champ {
  display: inline-block;
  position: absolute;
  margin-top: 5%;
  margin-left: 46%;
  width: 15%;
  box-shadow: 2px 2px 2px #e4e4e4;
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  padding: 10px 10px 10px 10px;
}

#baccueil {
  position: absolute;
  margin-left: 66.50%;
  padding-top: 1%;
  border-bottom: 1px black solid;
  width: 11%;
  padding-left: 6.50%;
  padding-bottom: 0.75%;
}

#Produits {
  position: absolute;
  margin-left: 66.50%;
  margin-top: 4%;
  border-bottom: 1px black solid;
  width: 11.50%;
  padding-left: 6%;
  padding-bottom: 0.75%;
}

#Contacts {
  position: absolute;
  margin-left: 72.75%;
  margin-top: 7.5%;
}
